@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #282a36;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

select {
  margin-left: .5em;
  border: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.app {
  box-sizing: border-box;
}

.button {
  padding: 0.25em;
  background-color: #616161;
  color: white;
  border: none;
  border-radius: 3px;
  margin: .2em;
  font-size: .9em;
  cursor: pointer;
  font-weight: 500;
  min-width: 2em
}

.button:hover {
  opacity: .7
}

.delete {
  background-color: lightcoral
}

.btn-custom {
  float: right
}

.btn-group {
  margin: 0 .25em
}

.post-count {
  font-size: .7em;
}

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

.container-fluid {
  padding: 1em 4em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    padding: 1em;
  }
}

.row {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.198);
}

.orange-focus {
  color: lightcoral;
  font-size: 1em
}

.posts {
  flex: 1 1 100%;
}

.options {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .options {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.sort-select {
  flex-basis: 15%;
  margin-bottom: .5rem;
  margin-left: .5rem;
  right: 0;
}

@media only screen and (max-width: 800px) {
  .sort-select {
    flex-basis: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .sort-select {
    flex-basis: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .details>small {
    flex-basis: 100%;
  }
  .details>* {
    flex: 1;
  }
  .details .btn-group {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 763px) {  
  .details .orange-focus {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .timestamp {
    display: none;
  }
}

.post-details {
  padding: .5em;
  background-color: #616161;
  color: white;
  border-radius: 3px;
}

.score {
  padding: .5em;
  background-color: #757575;
  color: white;
  border-radius: 3px;
}

/* Spinner */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
  }
  100% {
    -webkit-transform: rotate(-360deg)
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* Spinner */

.post-detail-page {
  margin: 1em auto;
  border-radius: .3em;
}

.post-detail-margin {
  margin: 1em auto
}

.add-comments {
  padding: .5em;
  background-color: lightcoral;
  border-radius: .3em;
  margin-right: .4em;
  color: white;
  cursor: pointer;
}

.add-comments:hover {
  opacity: .8
}

.mb-1 {
  color: black;
}

.mb-1-body {
  text-align: justify;
  margin: 1.5% 0
}

.mb-1:hover {
  color: black
}

.comments {
  max-width: 95%;
  margin: .5em 0
}

.activeNav {
  font-weight: bold
}

.error {
  text-align: center;
  color: grey
}

.cursor {
  cursor: pointer;
}

.cursor-focus {
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  text-align: center;
}

.white {
  color: white
}

.add-post {
  padding: 0 0.6rem;
  height: 2.4rem;
  background-color: lightcoral;
  color: white;
  /* font-weight: 600; */
  border-radius: .3em;
  display: inline-block;
  margin-left: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.add-post-form {
  display: flex;
  align-self: center;
  margin-bottom: 1px
}

.fa-book {
  margin-left: .5em
}

.border-radius {
  border-radius: .3em;
}

.create-post-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.create-post-details {
  margin-left: 20px;
}

.create-post-details input,
textarea {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: #f3f4f4;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
  resize: vertical;
}

.create-post-details label {
  width: 100%;
  padding: 5px 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  outline: 0;
}

.create-post-details button {
  margin-top: 20px;
  margin-right: 5px;
  background: lightcoral;
  padding: 5px;
  font-size: inherit;
  border: none;
  border-radius: .3em;
  color: white;
  outline: 0;
  cursor: pointer;
}

.close-post-detail {
  display: block;
  width: 30px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}